<!-- Views/Product/CustomerNotFound.cshtml -->
@{
    ViewData["Title"] = "Customer Not Found";
}

<h2>@ViewData["Title"]</h2>

<p>Sorry, we couldn't find the customer with the specified ID.</p>
<p>Please make sure the customer ID is correct and try again.</p>